/*** Подключение шрифтов ***/

/* comfortaa-300 - cyrillic_latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: local('Comfortaa Light'), local('Comfortaa-Light'),
  url('../static/fonts/comfortaa-v12-cyrillic_latin-300.woff') format('woff');
}
/* comfortaa-regular - cyrillic_latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
  url('../static/fonts/comfortaa-v12-cyrillic_latin-regular.woff') format('woff');
}
/* comfortaa-700 - cyrillic_latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
  url('../static/fonts/comfortaa-v12-cyrillic_latin-700.woff') format('woff');
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('../static/fonts/montserrat-v12-cyrillic_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}