@import "variebles";

//Grid
%grid {
  display: flex;
  flex-direction: column;
}
%flex-center {
  justify-content: center;
  align-items: center;
}
%container {
  margin: 0 auto;
  max-width: 1200px;
}
%container-fluid {
  width: 100%;
}

%home-section {
  padding: 150px 0;
  border-top: 1px solid $black;
}

//Typography
%base-typography {
  font-family: $family;
  font-size: $p;
  font-style: normal;
  font-weight: $light;
  line-height: $p-height;
  text-align: left;
  color: $black;
}

%heading {
  text-align: center;
  font-family: $family;
  font-size: $heading;
  text-transform: uppercase;
  color: $black;
}

@media only screen and (max-width: 1140px) {
  %base-typography {

  }
}

@media only screen and (max-width: 768px) {
  %container {
    margin: 0 7.5vw;
    width: 85vw;
  }

  %base-typography {

  }
}

//Transition

%transition-link {
  transform: scale(1.05) translate(5px, -3px);

}

//Animation