@import "variebles";

//Grid
%grid {
  display: flex;
  flex-direction: column;
}
%flex-center {
  justify-content: center;
  align-items: center;
}
%container {
  margin: 0 auto;
  max-width: 1200px;
}
%container-fluid {
  width: 100%;
}

%home-section {
  padding: 150px 0;
  border-top: 1px solid $black;
}

//Typography
%base-typography {
  font-family: $family;
  font-size: $p;
  font-style: normal;
  font-weight: $light;
  line-height: $p-height;
  text-align: left;
  color: $black;
}

%heading {
  text-align: center;
  font-family: $family;
  font-weight: $extra_bold;
  font-size: $heading;
  line-height: 65px;
  text-transform: uppercase;
  color: $black;
}

@media only screen and (max-width: 1249px) {
  %base-typography {
    font-size: $p-l;
    line-height: $p-height-l;
  }
  %heading {
    font-size: $heading-l;
    line-height: 55px;
  }
  %container {
    max-width: 960px;
  }
  %home-section {
    padding: 110px 0;
  }
}

@media only screen and (max-width: 1040px) {
  %base-typography {
    font-size: $p-t;
    line-height: $p-height-t;
  }
  %heading {
    font-size: $heading-t;
    line-height: 40px;
  }
  %container {
    max-width: 720px;
  }
  %home-section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 768px) {
  %base-typography {
    font-size: $p-m;
    line-height: $p-height-m;
  }
  %heading {
    font-size: $heading-m;
    line-height: 30px;
  }
  %container {
    max-width: 540px;
  }
  %home-section {
    padding: 50px 0;
  }
}

//Transition

%transition-link {
  transform: scale(1.05) translate(5px, -3px);

}

//Animation