//TYPOGRAPHY
$family:                   'Montserrat', Helvetica, Arial, sans-serif;
$family-pharagraph:        'Comfortaa', Helvetica, Arial, sans-serif;

//*font-size
$h1:                       60px;
$heading:                  40px;
$p:                        32px;
$active:                   24px;
$tag:                      14px;
$mask-text:                18px;
$copyright:                16px;
  //&-mobile

//*line-height
$h1-height:                75px;
$p-height:                 55px;
$mask-height:              30px;
  //&-mobile

//*font-weight
$light:                    300;
$normal:                   400;
$bold:                     700;
$extra_bold:               800;



//COLORS
$black:                    #000000;
$light_black:              #3D3D3D;
$thin_black:               #DDDDDD;
$grey:                     #848383;
$white:                    #FFFFFF;
$red:                      #FF4E5A;
$black-red:                #992F36;